# General
APP_NAME=finance-system
APP_ENV=development

# PostgreSQL
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_PORT=55432

# Backend
BACKEND_PORT=8080
SPRING_PROFILES_ACTIVE=dev
DB_HOST=serv-db
DB_PORT=5432
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# Frontend
FRONTEND_PORT=4200
API_BASE_URL=http://localhost:8080