# ===============================
#  Environment
# ===============================
ENV_MODE=development

# ===============================
#  PostgreSQL
# ===============================
POSTGRES_SERV=serv-finance-db

POSTGRES_DB=finance_db
POSTGRES_USER=finance_user
POSTGRES_PASSWORD=finance_password
POSTGRES_PORT=5432

POSTGRES_HOST_PORT=55432

# ===============================
#  Backend (Spring Boot)
# ===============================
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8080

# ===============================
#  Security
# ===============================
SECRET_KEY=finance_dev_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ===============================
#  Frontend
# ===============================
FRONTEND_PORT=4200