{
  "bracketSameLine": false,
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "useTabs": false,  
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}

