<div hlmTableContainer>
  <table hlmTable>
    <thead hlmTHead>
      <tr hlmTr>
        <th hlmTh>Nombre</th>
        <th hlmTh>Correo</th>
        <th hlmTh>Estado</th>
        <th hlmTh class="text-right">Acciones</th>
      </tr>
    </thead>

    <tbody hlmTBody>
      @for (user of users(); track user.id) {
        <tr hlmTr>
          <td hlmTd class="text-foreground font-medium">
            {{ user.firstName }} {{ user.lastName }}
          </td>

          <td hlmTd>
            {{ user.email }}
          </td>

          <td hlmTd>
            @if (user.isActive) {
              <span
                hlmBadge
                class="bg-emerald-100 text-emerald-700 hover:bg-emerald-100"
              >
                Activo
              </span>
            } @else {
              <span hlmBadge variant="outline"> Inactivo </span>
            }
          </td>

          <td hlmTd class="text-right">
            <div class="flex justify-end gap-2">
              <button
                hlmBtn
                variant="outline"
                class="cursor-pointer"
                size="sm"
                (click)="onViewUser(user)"
              >
                Ver
              </button>

              <button
                hlmBtn
                variant="outline"
                class="cursor-pointer"
                size="sm"
                (click)="onEditUser(user.id)"
              >
                Editar
              </button>

              @if (user.isActive) {
                <button
                  hlmBtn
                  variant="outline"
                  size="sm"
                  class="min-w-25 cursor-pointer"
                  [disabled]="isUserToggling(user.id)"
                  (click)="onDeactivateUser(user)"
                >
                  @if (isUserToggling(user.id)) {
                    Procesando...
                  } @else {
                    Desactivar
                  }
                </button>
              } @else {
                <button
                  hlmBtn
                  size="sm"
                  class="min-w-25 cursor-pointer"
                  [disabled]="isUserToggling(user.id)"
                  (click)="onActivateUser(user)"
                >
                  @if (isUserToggling(user.id)) {
                    Procesando...
                  } @else {
                    Activar
                  }
                </button>
              }
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
