<div hlmTableContainer>
  <table hlmTable>
    <thead hlmTHead class="bg-gray-200">
      <tr hlmTr>
        <th hlmTh>Nombre</th>
        <th hlmTh>Slug</th>
        <th hlmTh>Schema</th>
        <th hlmTh>Estado</th>
        <th hlmTh>Plan</th>
        <th hlmTh>Creado</th>
        <th hlmTh>Modificado</th>
        <th hlmTh class="text-right">Acciones</th>
      </tr>
    </thead>

    <tbody hlmTBody>
      @for (tenant of tenants(); track tenant.id) {
        <tr hlmTr>
          <td hlmTd class="text-foreground font-medium">
            {{ tenant.name }}
          </td>

          <td hlmTd>
            {{ tenant.slug }}
          </td>

          <td hlmTd>
            {{ tenant.schemaName }}
          </td>

          <td hlmTd>
            @if (tenant.isActive) {
              <span
                hlmBadge
                class="bg-emerald-100 text-emerald-700 hover:bg-emerald-100"
              >
                Activo
              </span>
            } @else {
              <span hlmBadge variant="outline"> Inactivo </span>
            }
          </td>

          <td hlmTd>
            {{ tenant.planId }}
          </td>

          <td hlmTd>
            {{ tenant.createdAt }}
          </td>

          <td hlmTd>
            {{ tenant.updatedAt }}
          </td>

          <td hlmTd class="text-right">
            <div class="flex items-center justify-end gap-2">
              <button
                hlmBtn
                variant="outline"
                class="cursor-pointer"
                size="sm"
                (click)="onViewTenant(tenant)"
              >
                <ng-icon name="lucideEye" class="text-foreground" />
              </button>

              <button
                hlmBtn
                variant="outline"
                class="cursor-pointer"
                size="sm"
                (click)="onEditTenant(tenant.id)"
              >
                <ng-icon name="lucidePencil" class="text-foreground" />
              </button>

              <button
                hlmBtn
                variant="outline"
                class="cursor-pointer"
                size="sm"
                (click)="onAssignSubscription(tenant)"
              >
                <ng-icon name="lucideBadgeDollarSign" class="text-foreground" />
              </button>

              <hlm-switch
                class="cursor-pointer"
                [checked]="tenant.isActive"
                [disabled]="isTenantToggling(tenant.id)"
                (checkedChange)="onToggleTenant(tenant, $event)"
              />
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
