<hlm-dialog [state]="open() ? 'open' : 'closed'" (closed)="onOpenChange(false)">
  <hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:max-w-md">
    <!-- Header -->
    <hlm-dialog-header>
      <h2 hlmDialogTitle>Change password</h2>
      <p hlmDialogDescription>
        Update your current password to keep your account secure.
      </p>
    </hlm-dialog-header>

    <!-- Form -->
    <form class="space-y-4 pt-2" [formGroup]="form" (ngSubmit)="onSubmit()">
      @if (errorMessage()) {
        <hlm-alert variant="destructive">
          <p hlmAlertDescription>{{ errorMessage() }}</p>
        </hlm-alert>
      }

      <!-- Current password -->
      <div class="space-y-2">
        <app-password-input
          [control]="form.controls.currentPassword"
          inputId="password"
          label="Current password"
          (fieldEdited)="onFormEdited()"
        />
      </div>

      <div class="space-y-2">
        <app-password-input
          [control]="form.controls.newPassword"
          inputId="newPassword"
          label="New password"
          icon="lucideKey"
          (fieldEdited)="onFormEdited()"
        />
      </div>

      <div class="space-y-2">
        <app-password-input
          [control]="form.controls.confirmNewPassword"
          inputId="confirmNewPassword"
          label="Confirm New password"
          icon="lucideCheck"
          (fieldEdited)="onFormEdited()"
        />
      </div>

      <!-- Footer -->
      <hlm-dialog-footer class="flex justify-end gap-2 pt-2">
        <button
          hlmBtn
          type="button"
          variant="outline"
          (click)="onOpenChange(false)"
        >
          Cancel
        </button>

        <button
          hlmBtn
          type="submit"
          [disabled]="form.invalid || isSubmitting()"
        >
          @if (isSubmitting()) {
            Saving...
          } @else {
            Change password
          }
        </button>
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
