<div hlmTableContainer>
  <table hlmTable>
    <thead hlmTHead class="bg-gray-200">
      <tr hlmTr>
        <th hlmTh>Código</th>
        <th hlmTh>Módulo</th>
        <th hlmTh>Descripción</th>
      </tr>
    </thead>

    <tbody hlmTBody>
      @for (permission of permissions(); track permission.code) {
        <tr hlmTr>
          <td hlmTd class="font-medium">
            {{ permission.code }}
          </td>

          <td hlmTd>
            <span hlmBadge variant="secondary">
              {{ permission.module }}
            </span>
          </td>

          <td hlmTd>
            {{ permission.description }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
