@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "@spartan-ng/brain/hlm-tailwind-preset.css";

:root {
  color-scheme: light;

  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #333333;
  --card: #ffffff;
  --card-foreground: #333333;
  --popover: #ffffff;
  --popover-foreground: #333333;
  --primary: #333333;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #333333;
  --muted: #f5f5f5;
  --muted-foreground: #666666;
  --accent: #f5f5f5;
  --accent-foreground: #333333;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #cccccc;
  --input: #cccccc;
  --ring: #666666;
  --sidebar: #ffffff;
  --sidebar-foreground: #333333;
  --sidebar-primary: #333333;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #333333;
  --sidebar-border: #cccccc;
  --sidebar-ring: #666666;
}

:root.dark {
  color-scheme: dark;

  --background: #333333;
  --foreground: #ffffff;
  --card: #333333;
  --card-foreground: #ffffff;
  --popover: #333333;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #333333;
  --secondary: #666666;
  --secondary-foreground: #ffffff;
  --muted: #666666;
  --muted-foreground: #cccccc;
  --accent: #666666;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #666666;
  --input: #666666;
  --ring: #cccccc;
  --sidebar: #333333;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #333333;
  --sidebar-accent: #666666;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #666666;
  --sidebar-ring: #cccccc;
}

@layer base {
  * {
    border-color: #cccccc;
  }
  body {
    @apply bg-background text-foreground;
  }
}
