<div class="flex h-screen overflow-hidden bg-[#F1F8E9]">
  
  <app-sidebar 
    class="shrink-0 z-20 border-r border-[#C8E6C9] transition-[width] duration-300 ease-in-out"
    [class.w-[260px]]="isSidebarOpen()" 
    [class.w-[80px]]="!isSidebarOpen()"
    [isOpen]="isSidebarOpen()" 
    (onToggle)="toggleSidebar()">
  </app-sidebar>

  <div class="flex flex-col flex-1 overflow-hidden relative">
    
    <app-header 
      class="shrink-0 h-16 border-b border-[#C8E6C9] sticky top-0 z-10 shadow-sm bg-white" 
      [userName]="store.userName()"
      [userInitials]="store.userInitials()"
      (logout)="onLogout()">
    </app-header>

    <main class="flex-1 p-6 sm:p-8 overflow-y-auto bg-[#F1F8E9]">
      <div class="mx-auto max-w-7xl">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</div>