<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <hlm-field-group>
    <div class="flex flex-col items-center gap-1 text-center">
      <h1 class="text-2xl font-bold">
        <span>Restablece</span><br />
        <span>tu contraseña</span>
      </h1>
      <p class="text-muted-foreground text-sm text-balance">
        Ingresa el token de recuperación y define una nueva contraseña
      </p>
    </div>

    @if (errorMessage()) {
      <div
        class="rounded-md border border-red-200 bg-red-50 px-3 py-2 text-sm text-red-600"
      >
        {{ errorMessage() }}
      </div>
    }

    <hlm-field>
      <label hlmFieldLabel for="token">Token</label>
      <input
        hlmInput
        type="text"
        id="token"
        placeholder="Ingresa tu token de recuperación"
        formControlName="token"
      />
      <p hlmFieldDescription>Pega el token que recibiste en el correo</p>

      <hlm-field-error validator="required">
        El token es obligatorio.
      </hlm-field-error>
    </hlm-field>

    <div class="space-y-2">
      <app-password-input
        [control]="form.controls.newPassword"
        inputId="newPassword"
        label="New password"
        icon="lucideKey"
      />
    </div>

    <div class="space-y-2">
      <app-password-input
        [control]="form.controls.confirmNewPassword"
        inputId="confirmNewPassword"
        label="Confirm New password"
        icon="lucideCheck"
      />
    </div>

    <!-- <hlm-field>
      <label hlmFieldLabel for="newPassword">Nueva contraseña</label>
      <input
        hlmInput
        type="password"
        id="newPassword"
        placeholder="********"
        formControlName="newPassword"
      />

      <hlm-field-error validator="required">
        La nueva contraseña es obligatoria.
      </hlm-field-error>
      <hlm-field-error validator="minlength">
        La contraseña debe tener al menos 8 caracteres.
      </hlm-field-error>
    </hlm-field> -->

    <!-- <hlm-field>
      <label hlmFieldLabel for="confirmNewPassword">
        Confirmar nueva contraseña
      </label>
      <input
        hlmInput
        type="password"
        id="confirmNewPassword"
        placeholder="********"
        formControlName="confirmNewPassword"
      />

      <hlm-field-error validator="required">
        La confirmación es obligatoria.
      </hlm-field-error>

      @if (passwordsDoNotMatch) {
        <hlm-field-error>Las contraseñas no coinciden.</hlm-field-error>
      }
    </hlm-field> -->

    <hlm-field>
      <button hlmBtn type="submit" [disabled]="isSubmitting()">
        @if (isSubmitting()) {
          Actualizando...
        } @else {
          Restablecer contraseña
        }
      </button>
    </hlm-field>

    <hlm-field>
      <p hlmFieldDescription class="text-center">
        ¿Recuerdas tu contraseña?
        <a routerLink="/auth/login">Inicia sesión</a>
      </p>
    </hlm-field>
  </hlm-field-group>
</form>
