# Para mobile colocar la ip real del servidor
# BASE_URL=http://localhost:8080

# Para web dejar vacio
# BASE_URL=
# BASE_URL=http://192.168.0.225:8080
# BASE_URL=http://3.144.192.20:80
BASE_URL=https://sebaces.fyi

SYSTEM_NAME="Finance System"

OPEN_ROUTER_API_KEY="aqui-colocar-api-key-de-open-router"
