##########################
# DESARROLLO LOCAL (PC)
##########################
# API: Backend corriendo en tu PC
# BASE_URL=http://localhost:8000

##########################
# DESARROLLO USB (Celular)
##########################
# API: Backend corriendo en tu PC
# API: Tu PC conectada por USB
# Requiere: adb reverse tcp:8000 tcp:8000
BASE_URL=http://localhost:8000

##########################
# DESARROLLO WI-FI
##########################
# API: IP de tu PC en la red local ipconfig
# BASE_URL=http://192.168.0.225:8000

##########################
# PRODUCCIÓN
##########################
# API: Servidor en producción
# BASE_URL=https://sebaces.fyi

SYSTEM_NAME="Finance System"

OPEN_ROUTER_KEY=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
